*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  background:#f5f7fa;
  color:#333;
  line-height:1.6;
}

header{
  background:linear-gradient(135deg,#c62828,#ffcc00);
  color:white;
  text-align:center;
  padding:60px 20px;
}

header h1{
  font-size:42px;
}

nav{
  background:#b71c1c;
  display:flex;
  justify-content:center;
  gap:25px;
  padding:12px;
  flex-wrap:wrap;
}

nav a{
  color:white;
  text-decoration:none;
  font-weight:600;
}

nav a:hover{
  text-decoration:underline;
}

section{
  max-width:1100px;
  margin:auto;
  padding:50px 20px;
}

section h2{
  color:#c62828;
  margin-bottom:15px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 6px 15px rgba(0,0,0,0.08);
  transition:transform 0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

footer{
  background:#212121;
  color:#ccc;
  text-align:center;
  padding:25px;
}

footer span{
  color:#ffcc00;
}
